body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}
h6 {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.Article2 p {
    font-size: 21px;
    color: gray;
    font-weight: bold;
}

h2 {
    font-weight: 300px;
    font-size: 42px;
    color: white;
}