body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {    
    font-size: 42px;
    font-weight: 300;
}
.cta {
    color: aquamarine;
    font-size: 16px;
}

.Article2 p {
    font-size: 21px;
    color: gray;
}

footer p {
    text-align: right;
    color: gray;
    font-size: 21px;
    font-weight: 300;
}